<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="gungun-page">
    <meta name="author" content="gungun">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    <title> {$site.name}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/orange.css">
</head>

<body>
<nav class="top-bar">
    <div class="container">
        <div class="col-xs-12 col-sm-6 no-margin">
            <ul>
                <li><a href="">首页</a></li>
            </ul>
        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="right">
                <li><a href="">注册</a></li>
                <li><a href="">登录</a></li>
            </ul>
        </div><!-- /.col -->
    </div><!-- /.container -->
</nav>
<header>
    <div class="container no-padding">
        <div class=" col-md-3  ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6   top-search-holder no-margin">
            <div class="search-area">
                <form>
                    <div class="control-group">
                        <input class="search-field" placeholder="搜索"/>
                        <ul class="categories-filter animate-dropdown">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="category-grid.html">all
                                    categories</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="category-grid.html">laptops</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <a class="search-button" href="#"></a>

                    </div>
                </form>
            </div><!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= -->
        </div><!-- /.top-search-holder -->

        <div class="col-xs-12 col-sm-12 col-md-3 top-cart-row no-margin" style="padding: 15px 0 0 21px">
            <div class="top-cart-row-container">

                <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                <div class="top-cart-holder dropdown animate-dropdown">

                    <div class="basket">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div class="basket-item-count">
                                <span class="count">3</span>
                                <img src="images/icon-cart.png" alt=""/>
                            </div>

                            <div class="total-price-basket">
                                <span class="lbl">your cart:</span>
                                <span class="total-price">
                        <span class="sign">$</span><span class="value">3219,00</span>
                    </span>
                            </div>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <div class="basket-item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 no-margin text-center">
                                            <div class="thumb">
                                                <img alt="" src="images/products/product-small-01.jpg"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 no-margin">
                                            <div class="title">Blueberry</div>
                                            <div class="price">$270.00</div>
                                        </div>
                                    </div>
                                    <a class="close-btn" href="#"></a>
                                </div>
                            </li>

                            <li>
                                <div class="basket-item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 no-margin text-center">
                                            <div class="thumb">
                                                <img alt="" src="images/products/product-small-01.jpg"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 no-margin">
                                            <div class="title">Blueberry</div>
                                            <div class="price">$270.00</div>
                                        </div>
                                    </div>
                                    <a class="close-btn" href="#"></a>
                                </div>
                            </li>

                            <li>
                                <div class="basket-item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 no-margin text-center">
                                            <div class="thumb">
                                                <img alt="" src="images/products/product-small-01.jpg"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 no-margin">
                                            <div class="title">Blueberry</div>
                                            <div class="price">$270.00</div>
                                        </div>
                                    </div>
                                    <a class="close-btn" href="#"></a>
                                </div>
                            </li>


                            <li class="checkout">
                                <div class="basket-item">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <a href="cart.html" class="le-button inverse">View cart</a>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <a href="checkout.html" class="le-button">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div><!-- /.basket -->
                </div><!-- /.top-cart-holder -->
            </div><!-- /.top-cart-row-container -->
            <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
        </div><!-- /.top-cart-row -->

    </div><!-- /.container -->
    <nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
        <div class="container">
            <div class="yamm navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#mc-horizontal-menu-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- /.navbar-header -->
                <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown"
                               data-toggle="dropdown">Computers</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                <li><a href="#">CPUs, Processors</a></li>
                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                <li><a href="#">Graphics, Video Cards</a></li>
                                <li><a href="#">Interface, Add-On Cards</a></li>
                                <li><a href="#">Laptop Replacement Parts</a></li>
                                <li><a href="#">Memory (RAM)</a></li>
                                <li><a href="#">Motherboards</a></li>
                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                            </ul>
                        </li>
                    </ul><!-- /.navbar-nav -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.navbar -->
        </div><!-- /.container -->
    </nav>
</header>
<!-- ============================================================= HEADER : END ============================================================= -->
<section id="category-grid">
    <div class="container">

        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">

            <!-- ========================================= PRODUCT FILTER ========================================= -->
            <div class="widget">
                <h1>Product Filters</h1>
                <div class="body bordered">

                    <div class="category-filter">
                        <h2>Brands</h2>
                        <hr>
                        <ul>
                            <li><input checked="checked" class="le-checkbox" type="checkbox"/> <label>Samsung</label>
                                <span class="pull-right">(2)</span></li>
                            <li><input class="le-checkbox" type="checkbox"/> <label>Dell</label> <span
                                    class="pull-right">(8)</span></li>
                            <li><input class="le-checkbox" type="checkbox"/> <label>Toshiba</label> <span
                                    class="pull-right">(1)</span></li>
                            <li><input class="le-checkbox" type="checkbox"/> <label>Apple</label> <span
                                    class="pull-right">(5)</span></li>
                        </ul>
                    </div><!-- /.category-filter -->

                    <div class="price-filter">
                        <h2>Price</h2>
                        <hr>
                        <div class="price-range-holder">

                            <input type="text" class="price-slider" value="">

                            <span class="min-max">
                    Price: $89 - $2899
                </span>
                            <span class="filter-button">
                    <a href="#">Filter</a>
                </span>
                        </div>
                    </div><!-- /.price-filter -->

                </div><!-- /.body -->
            </div><!-- /.widget -->
            <!-- ========================================= PRODUCT FILTER : END ========================================= -->
            <div class="widget">
                <h1 class="border">special offers</h1>
                <ul class="product-list">
                    <li>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt=""
                                         src="images/products/product-small-01.jpg"/>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">Netbook Acer </a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt=""
                                         src="images/products/product-small-02.jpg"/>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt=""
                                         src="images/products/product-small-03.jpg"/>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt=""
                                         src="images/products/product-small-01.jpg"/>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">Netbook Acer</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt=""
                                         src="images/products/product-small-02.jpg"/>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- /.widget -->
        </div>
        <!-- ========================================= SIDEBAR : END ========================================= -->

        <!-- ========================================= CONTENT ========================================= -->

        <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
            <section id="gaming">
                <div class="grid-list-products">
                    <h2 class="section-title">Gaming</h2>

                    <div class="control-bar">
                        <div id="popularity-sort" class="le-select">
                            <select data-placeholder="sort by popularity">
                                <option value="1">1-100 players</option>
                                <option value="2">101-200 players</option>
                                <option value="3">200+ players</option>
                            </select>
                        </div>

                        <div id="item-count" class="le-select">
                            <select>
                                <option value="1">24 per page</option>
                                <option value="2">48 per page</option>
                                <option value="3">32 per page</option>
                            </select>
                        </div>
                    </div><!-- /.control-bar -->

                    <div class="tab-content">
                        <div class="product-item">
                            <div class="col-sm-6 col-md-4  no-margin product-content">
                                <div class="image">
                                    <img alt="" src="images/products/200.jpg"/>
                                </div>
                                <h3 class="title"><a> 小米手环</a></h3>
                                <p class="desc">OLED 显示屏幕，升级计步算法</p>
                                <p class="price">149元</p>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="col-sm-6 col-md-4  no-margin product-content">
                                <div class="image">
                                    <img alt="" src="images/products/200.jpg"/>
                                </div>
                                <h3 class="title"><a> 小米手环</a></h3>
                                <p class="desc">OLED 显示屏幕，升级计步算法</p>
                                <p class="price">149元</p>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="col-sm-6 col-md-4  no-margin product-content">
                                <div class="image">
                                    <img alt="" src="images/products/200.jpg"/>
                                </div>
                                <h3 class="title"><a> 小米手环</a></h3>
                                <p class="desc">OLED 显示屏幕，升级计步算法</p>
                                <p class="price">149元</p>
                            </div>
                        </div>

                    </div><!-- /.tab-content -->
                </div><!-- /.grid-list-products -->

            </section><!-- /#gaming -->
        </div><!-- /.col -->
        <!-- ========================================= CONTENT : END ========================================= -->
    </div><!-- /.container -->
</section><!-- /#category-grid -->
<!-- ============================================================= FOOTER ============================================================= -->
<footer id="footer" class="color-bg">
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">
                    &copy; <a href="index.html">Media Center</a> - all rights reserved
                </div><!-- /.copyright -->
            </div>
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="payment-methods ">
                    <ul>
                        <li><img alt="" src="images/payments/payment-visa.png"></li>
                        <li><img alt="" src="images/payments/payment-master.png"></li>
                        <li><img alt="" src="images/payments/payment-paypal.png"></li>
                        <li><img alt="" src="images/payments/payment-skrill.png"></li>
                    </ul>
                </div><!-- /.payment-methods -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->

</footer><!-- /#footer -->
<!-- ============================================================= FOOTER : END ============================================================= -->
<!-- /.wrapper -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.customSelect.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script>
    $(document).ready(function () {

        // Select Dropdown
        if ($('.le-select').length > 0) {
            $('.le-select select').customSelect({customClass: 'le-select-in'});
        }

        // Checkbox
        if ($('.le-checkbox').length > 0) {
            $('.le-checkbox').after('<i class="fake-box"></i>');
        }

        //Radio Button
        if ($('.le-radio').length > 0) {
            $('.le-radio').after('<i class="fake-box"></i>');
        }

        // Buttons
        $('.le-button.disabled').click(function (e) {
            e.preventDefault();
        });

        // Quantity Spinner
        $('.le-quantity a').click(function (e) {
            e.preventDefault();
            var currentQty = $(this).parent().parent().find('input').val();
            if ($(this).hasClass('minus') && currentQty > 0) {
                $(this).parent().parent().find('input').val(parseInt(currentQty, 10) - 1);
            } else {
                if ($(this).hasClass('plus')) {
                    $(this).parent().parent().find('input').val(parseInt(currentQty, 10) + 1);
                }
            }
        });

        // Price Slider
        if ($('.price-slider').length > 0) {
            $('.price-slider').slider({
                min: 100,
                max: 700,
                step: 10,
                value: [100, 400],
                handle: "square"

            });
        }

        // Data Placeholder for custom controls

        $('[data-placeholder]').focus(function () {
            var input = $(this);
            if (input.val() == input.attr('data-placeholder')) {
                input.val('');

            }
        }).blur(function () {
            var input = $(this);
            if (input.val() === '' || input.val() == input.attr('data-placeholder')) {
                input.addClass('placeholder');
                input.val(input.attr('data-placeholder'));
            }
        }).blur();

        $('[data-placeholder]').parents('form').submit(function () {
            $(this).find('[data-placeholder]').each(function () {
                var input = $(this);
                if (input.val() == input.attr('data-placeholder')) {
                    input.val('');
                }
            });
        });

    });
</script>

</body>
</html>
