<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="gungun-page">
    <meta name="author" content="gungun">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    <title> {$site.name}</title>
    <link rel="stylesheet" href="/moban1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/moban1/css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/moban1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/moban1/css/owl.carousel.css">
    <link rel="stylesheet" href="/moban1/css/owl.transitions.css">
</head>

<body>

{include file="public/nav" /}

<div class="container">

此处是付款码￥{$price}




                        <form class=" navbar-right" role="search" action="paycheck" method="post">
                    <div class="form-group">
                        <input type="input" name="pay" value={$price}>
                        <input type="hidden" name="goodsid" value={$goodsid}>
                    </div>
                    <button class="le-button big" type="submit">支付后点击</button>
                        </form>


 
    </div>

</div>

<!--  --><!-- /#footer -->
<!-- ============================================================= FOOTER : END ============================================================= -->
<!-- /.wrapper -->
<script src="/moban1/js/jquery.min.js"></script>
<script src="/moban1/js/bootstrap.min.js"></script>
<script src="/moban1/js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $('#owl-demo').owlCarousel({
            items: 1,
            autoPlay: true
        });
    });

    $(window).bind("load", function () {
        $('.show-theme-options').delay(2000).trigger('click');
    });



</script>

</body>
</html>