<header>
    <div class="container no-padding">
        <div class=" col-md-3  ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6   top-search-holder no-margin">
            <div class="search-area">
                <form method="post" action="">
                    <div class="control-group" style="">
                        <input class="search-field" name="search" style="width: 532px;" placeholder="搜索"/>

                                        <ul class="categories-filter animate-dropdown">
                
                        </ul>
                       <button type="submit" class="search-button" > </button>

                    </div>
                </form>
            </div><!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= -->
        </div><!-- /.top-search-holder -->

        <div class="col-xs-12 col-sm-12 col-md-3 top-cart-row no-margin" style="padding: 15px 0 0 21px">
            <div class="top-cart-row-container">

                <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                <div class="top-cart-holder dropdown animate-dropdown">

                    <div class="basket">

                        <a class="dropdown-toggle" data-toggle="" href="{:url('index/cart','');}">
                            <div class="basket-item-count">
                                <!-- <span class="count">3</span> -->
                                <img src="/moban1/images/icon-cart.png" alt=""/>
                            </div>

          <!--                   <div class="total-price-basket">
                                <span class="lbl">购物车</span>
                                <span class="total-price">
                                    <span class="sign">￥</span>
                                    <span class="value"></span>
                                 </span>
                            </div> -->
                        </a>


                    </div><!-- /.basket -->
                </div><!-- /.top-cart-holder -->
            </div><!-- /.top-cart-row-container -->
            <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
        </div><!-- /.top-cart-row -->

    </div><!-- /.container -->

</header>